.header{
    background-image: url("^assets/images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    @media (max-width:400px) {
        background-image: url("^assets/images/mobile/image-header.jpg");
        background-size:100% 70vh ;
        height: 70vh;
    }
}
h1{
    font-family: 'Fraunces', serif; 
    font-weight: 900;
    color:white;
    letter-spacing: 10px;
}
