<section id="projects">
    <h5 class="title">Client testimonials</h5>
    <div class="cards">
        <div class="card-content">
            <img src="assets/images/image-emily.jpg" class="rounded-circle" style="width:70px;" alt="emily-img"><br><br>
            <p class="bigp">We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were
                always hit.</p><br>
            <h6 class="name">Emily R.</h6>
            <p>Marketing Director</p>
        </div>
        <div class="card-content">
            <div class="card-content">
                <img src="assets/images/image-thomas.jpg" class="rounded-circle" style="width:70px;"
                    alt="thomas-img"><br><br>
                <p class="bigp">Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience. </p><br>
                <h6 class="name">Thomas S.</h6>
                <p>Chief Operating Officer</p>
            </div>
        </div>
        <div class="card-content">
            <div class="card-content">
                <img src="assets/images/image-jennie.jpg" class="rounded-circle" style="width:70px;"
                    alt="jennie-img"><br><br>
                <p class="bigp">Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!</p><br>
                <h6 class="name">Jennie F.</h6>
                <p>Business Owner</p>
            </div>
        </div>
    </div>
</section>