<section id="photos">
    <picture>
        <source  media="(max-width: 575px)" srcset="assets/images/mobile/image-gallery-milkbottles.jpg" type="image/jpg">
        <img class="col-sm-3 col-6" src="assets/images/desktop/image-gallery-milkbottles.jpg" alt="Image">
    </picture>
    <picture>
        <source  media="(max-width: 575px)" srcset="assets/images/mobile/image-gallery-orange.jpg" type="image/jpg">
        <img class="col-sm-3 col-6" src="assets/images/desktop/image-gallery-orange.jpg" alt="Image">
    </picture>
    <picture>
        <source media="(max-width: 575px)" srcset="assets/images/mobile/image-gallery-cone.jpg" type="image/jpg">
        <img class="col-sm-3 col-6" src="assets/images/desktop/image-gallery-cone.jpg" alt="Image">
    </picture>
    <picture>
        <source media="(max-width: 575px)" srcset="assets/images/mobile/image-gallery-sugar-cubes.jpg" type="image/jpg">
        <img class="col-sm-3 col-6" src="assets/images/desktop/image-gallery-sugarcubes.jpg" alt="sugarcubes">
    </picture>
</section>
