<section id="services">
    <div class="container-fluidd">
        <div class="egg alldiv"></div>
        <div class="egg-text alldiv">
            <h1 class="title">Transform your <br> brand </h1> <br>
            <p>We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you. </p>
            <br> <h6>LEARN MORE</h6>
        </div>
        <div class="vasa alldiv"></div>
        <div class="vasa-text alldiv">
            <h1 class="title">Stand out to the right audience </h1><br>
            <p>Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places. </p>
            <br><h6 id="vasa-learn">LEARN MORE</h6>
        </div>
        <div class="kriz alldiv" style="justify-content: flex-end; padding: 7% 21%;">
            <h3>Graphic design</h3>
            <p>Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.</p>
        </div>
        <div class="orangee alldiv" style="justify-content: flex-end; padding: 7% 21%;">
            <h4>Photography</h4>
            <p>Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p>
        </div>
    </div>
</section>