/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@600&family=Crete+Round&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
/*
font-family: 'Barlow', sans-serif; 600
font-family: 'Fraunces', serif; 700,900
*/
:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-des-cyan:hsl(167, 40%, 24%); //(graphic design text)
    --Dark-moderate-cyan:hsl(168, 34%, 41%); //(footer)
    --Dark-blue:hsl(198, 62%, 26%); //(photography text)
   //-------------------------------------------------------------
   --Very-d-des-blue: hsl(212, 27%, 19%);
   --Very-d-grayish-blue: hsl(213, 9%, 39%);
   --Dark-grayish-blue: hsl(232, 10%, 55%);
   --Grayish-blue: hsl(210, 4%, 67%);
   --White: hsl(0, 0%, 100%);
}
body{
    font-size: 18px;
    margin:0;
    padding: 0;
}
